# Q1: Import pandas library

In [41]:
import pandas as pd

# Q2: Read instagram_users.csv file

In [42]:
instagram=pd.read_csv('instagram_users.csv')

# Q3: Print the number of rows and columns contained in the dataset

In [43]:
print(len(instagram))
print(len(instagram.columns))

65326
18

# Q4: Print the size of dataset

In [44]:
instagram.size

1175868

# Q5: Print the data type of each column

In [45]:
print(instagram.columns)

Index(['pos', 'flw', 'flg', 'bl', 'pic', 'lin', 'cl', 'cz', 'ni', 'erl', 'erc',
       'lt', 'hc', 'pr', 'fo', 'cs', 'pi', 'class'],
      dtype='object')

# Q6: Print the entire dataset
Note: if your dataset contains more than 60 rows, only the first 5 rows and the last 5 rows will be printed.

In [46]:
instagram

,pos,flw,flg,bl,pic,lin,cl,cz,ni,erl,erc,lt,hc,pr,fo,cs,pi,class
0,44,48,325,33,1,0,12,0.000000,0.000,0.000000,0.00,0.000,0.000,0.0,0.000,0.111111,0.094985,f
1,10,66,321,150,1,0,213,0.000000,1.000,14.390000,1.97,0.000,1.500,0.0,0.000,0.206826,230.412857,f
2,33,970,308,101,1,1,436,0.000000,1.000,10.100000,0.30,0.000,2.500,0.0,0.056,0.572174,43.569939,f
3,70,86,360,14,1,0,0,1.000000,0.000,0.780000,0.06,0.000,0.000,0.0,0.000,1.000000,5.859799,f
4,3,21,285,73,1,0,93,0.000000,0.000,14.290000,0.00,0.667,0.000,0.0,0.000,0.300494,0.126019,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65321,13,145,642,0,1,0,7,0.461538,0.000,14.270000,0.58,0.000,0.077,0.0,0.000,0.192308,1745.291260,r
65322,652,3000,1300,146,1,1,384,0.000000,0.389,8.520000,0.13,0.000,1.611,0.0,0.000,0.169917,54.629120,r
65323,1500,3700,3200,147,1,1,129,0.000000,0.111,9.390000,0.31,0.722,0.000,0.0,0.056,0.058908,129.802048,r
65324,329,1500,1800,218,1,1,290,0.055556,0.000,6.350000,0.26,0.222,0.500,0.0,0.000,0.103174,53.402840,r
65325,206,659,608,27,1,0,77,0.000000,0.333,25.549999,0.53,0.222,0.222,0.0,0.167,0.017505,604.981445,r

# Q7: Print the first 5 rows

In [47]:
instagram.head()

,pos,flw,flg,bl,pic,lin,cl,cz,ni,erl,erc,lt,hc,pr,fo,cs,pi,class
0,44,48,325,33,1,0,12,0.0,0.0,0.00,0.00,0.000,0.0,0.0,0.000,0.111111,0.094985,f
1,10,66,321,150,1,0,213,0.0,1.0,14.39,1.97,0.000,1.5,0.0,0.000,0.206826,230.412857,f
2,33,970,308,101,1,1,436,0.0,1.0,10.10,0.30,0.000,2.5,0.0,0.056,0.572174,43.569939,f
3,70,86,360,14,1,0,0,1.0,0.0,0.78,0.06,0.000,0.0,0.0,0.000,1.000000,5.859799,f
4,3,21,285,73,1,0,93,0.0,0.0,14.29,0.00,0.667,0.0,0.0,0.000,0.300494,0.126019,f

# Q8: Print the last 5 rows

In [48]:
instagram.tail()

,pos,flw,flg,bl,pic,lin,cl,cz,ni,erl,erc,lt,hc,pr,fo,cs,pi,class
65321,13,145,642,0,1,0,7,0.461538,0.000,14.270000,0.58,0.000,0.077,0.0,0.000,0.192308,1745.291260,r
65322,652,3000,1300,146,1,1,384,0.000000,0.389,8.520000,0.13,0.000,1.611,0.0,0.000,0.169917,54.629120,r
65323,1500,3700,3200,147,1,1,129,0.000000,0.111,9.390000,0.31,0.722,0.000,0.0,0.056,0.058908,129.802048,r
65324,329,1500,1800,218,1,1,290,0.055556,0.000,6.350000,0.26,0.222,0.500,0.0,0.000,0.103174,53.402840,r
65325,206,659,608,27,1,0,77,0.000000,0.333,25.549999,0.53,0.222,0.222,0.0,0.167,0.017505,604.981445,r

# Q9: Print the total number of null values

In [49]:
instagram.isna().sum().sum()

0

# Q10: Print the rows that has duplicate values

In [50]:
instagram[instagram.duplicated()]

,pos,flw,flg,bl,pic,lin,cl,cz,ni,erl,erc,lt,hc,pr,fo,cs,pi,class
4118,0,0,0,0,0,0,-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,f
4165,0,30,149,0,1,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,f
5812,0,0,0,0,0,0,-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,f
6500,0,0,0,0,0,0,-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,f
8134,0,0,0,0,0,0,-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32745,0,0,0,0,0,0,-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,f
32747,0,34,7500,0,1,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,f
32748,0,77,7400,0,1,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,f
32749,0,70,7300,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,f
32764,0,0,0,0,0,0,-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,f

# Q11: Remove all duplicate values

In [51]:
instagram.drop_duplicates(keep=False, inplace=True)

# Q12: Print the number of rows and columns contained in the dataset after removing the duplicate values

In [52]:
print(len(instagram))
print(len(instagram.columns))

63866
18

# Q13: Rename all dataset's columns

|  Column name  |  New column name  |  Description  |
| ----- | -------- | ------- |
| pos    | Num_posts        | Number of total posts that the user has ever posted   |
| flg    | Num_following    | Number of following                                   |
| flr    | Num_followers    | Number of followers                                   |
| bl     | Biography_length | Length (number of characters) of the user's biography |
| pic    | Picture_availability | Value 0 if the user has no profile picture, or 1 if has |
| lin    | Link_availability| Value 0 if the user has no external URL, or 1 if has |
| cl     | Average_caption_length | The average number of character of captions in media |
| cz     | Caption_zero     | Percentage (0.0 to 1.0) of captions that has almost zero (<=3) length |
| ni     | Non_image_percentage | Percentage (0.0 to 1.0) of non-image media. There are three types of media on an Instagram post, i.e. image, video, carousel
| erl    | Engagement_rate_like | Engagement rate (ER) is commonly defined as (num likes) divide by (num media) divide by (num followers)
| erc    | Engagement_rate_comment | Similar to ER like, but it is for comments |
| lt     | Location_tag_percentage | Percentage (0.0 to 1.0) of posts tagged with location |
| hc     | Average hashtag count   | Average number of hashtags used in a post |
| pr     | Promotional keywords | Average use of promotional keywords in hashtag, i.e. regrann, contest, repost, giveaway, mention, share, give away, quiz |
| fo     | Followers keywords | Average use of followers hunter keywords in hashtag, i.e. follow, like, folback, follback, f4f|
| cs     | Cosine similarity  | Average cosine similarity of between all pair of two posts a user has |
| pi     | Post interval      | Average interval between posts (in hours) |
| class  | real_fake          | r (real/authentic user), f (fake user/bought followers) |

In [53]:
instagram.rename(columns={"pos": "Num_posts","flg": "Num_following","flr": "Num_followers","bl": "Biography_length","pic":"Picture_availability","lin":"Link_availability","cl":"Average_caption_length","cz":"Caption_zero","ni":"Non_image_percentage","erl":"Engagement_rate_like","erc":"Engagement_rate_comment","lt":"Location_tag_percentage","hc":"Average hashtag count","pr":"Promotional keywords","fo":"Followers keywords","cs":"Cosine similarity","pi":"Post interval","class":"real_fake"}, inplace=True)
instagram

,Num_posts,flw,Num_following,Biography_length,Picture_availability,Link_availability,Average_caption_length,Caption_zero,Non_image_percentage,Engagement_rate_like,Engagement_rate_comment,Location_tag_percentage,Average hashtag count,Promotional keywords,Followers keywords,Cosine similarity,Post interval,real_fake
0,44,48,325,33,1,0,12,0.000000,0.000,0.000000,0.00,0.000,0.000,0.0,0.000,0.111111,0.094985,f
1,10,66,321,150,1,0,213,0.000000,1.000,14.390000,1.97,0.000,1.500,0.0,0.000,0.206826,230.412857,f
2,33,970,308,101,1,1,436,0.000000,1.000,10.100000,0.30,0.000,2.500,0.0,0.056,0.572174,43.569939,f
3,70,86,360,14,1,0,0,1.000000,0.000,0.780000,0.06,0.000,0.000,0.0,0.000,1.000000,5.859799,f
4,3,21,285,73,1,0,93,0.000000,0.000,14.290000,0.00,0.667,0.000,0.0,0.000,0.300494,0.126019,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65321,13,145,642,0,1,0,7,0.461538,0.000,14.270000,0.58,0.000,0.077,0.0,0.000,0.192308,1745.291260,r
65322,652,3000,1300,146,1,1,384,0.000000,0.389,8.520000,0.13,0.000,1.611,0.0,0.000,0.169917,54.629120,r
65323,1500,3700,3200,147,1,1,129,0.000000,0.111,9.390000,0.31,0.722,0.000,0.0,0.056,0.058908,129.802048,r
65324,329,1500,1800,218,1,1,290,0.055556,0.000,6.350000,0.26,0.222,0.500,0.0,0.000,0.103174,53.402840,r
65325,206,659,608,27,1,0,77,0.000000,0.333,25.549999,0.53,0.222,0.222,0.0,0.167,0.017505,604.981445,r

# Q14: Change the class's values to real and fake

In [54]:
instagram['real_fake']=instagram['real_fake'].map({'r' : 'real', 'f' : 'fake'})

# Q15: Print the total number of each fake accounts and real accounts

In [55]:
print(instagram['real_fake'].value_counts())

real    32460
fake    31406
Name: real_fake, dtype: int64

# Q16: Print the count, mean, std, min, 25%, 50%, 75% and the max for each column

In [56]:
instagram.describe()

,Num_posts,flw,Num_following,Biography_length,Picture_availability,Link_availability,Average_caption_length,Caption_zero,Non_image_percentage,Engagement_rate_like,Engagement_rate_comment,Location_tag_percentage,Average hashtag count,Promotional keywords,Followers keywords,Cosine similarity,Post interval
count,63866.000000,6.386600e+04,63866.000000,63866.000000,63866.000000,63866.000000,63866.000000,63866.000000,63866.000000,63866.000000,63866.000000,63866.000000,63866.000000,63866.000000,63866.000000,63866.000000,63866.000000
mean,180.607710,1.209252e+03,2283.799314,58.809523,0.961388,0.288369,139.643785,0.255649,0.197647,19.584340,1.165469,0.213652,0.519404,0.033493,0.054045,0.285689,507.824796
std,731.195106,2.195404e+04,2561.695282,64.260275,0.192670,0.453007,217.163502,0.339529,0.254102,122.388354,5.874086,0.302092,1.167491,0.223443,0.524895,0.338611,952.624587
min,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7.000000,1.330000e+02,404.000000,0.000000,1.000000,0.000000,10.000000,0.000000,0.000000,3.090000,0.090000,0.000000,0.000000,0.000000,0.000000,0.032593,30.544212
50%,31.000000,3.510000e+02,995.000000,35.000000,1.000000,0.000000,49.000000,0.055556,0.091000,9.760000,0.460000,0.000000,0.111000,0.000000,0.000000,0.131049,193.324539
75%,128.000000,8.340000e+02,3500.000000,112.000000,1.000000,1.000000,176.000000,0.444444,0.333000,18.950001,1.060000,0.375000,0.611000,0.000000,0.000000,0.424242,595.424942
max,76200.000000,3.900000e+06,8800.000000,555.000000,1.000000,1.000000,3644.000000,1.000000,1.000000,26650.000000,1009.090027,1.000000,30.000000,20.000000,58.000000,1.000000,26786.134766